*.o
*.s
*.zip
*.ll
*.bc
tmp/*
*.out
syntaxHighlighting/update.sh
concat
code
code.c
concat.concat/*.c
concat.concat/out.txt
concat.concat/out0.c
concat.concat/types.txt
!concat.concat/extern.c
concat.concat/concat2
concat.concat/concat3
featureMap.concat
!tests/*/*.out
lib/future/*
