*.o
*.s
*.zip
*.ll
*.bc
*.ssa
tmp/*
build/*
*.out
syntaxHighlighting/update.sh
concat
concatX
concatXX
code
code.c
code.concat
featureMap.concat
!tests/*/*.out
lib/future/*
!lib/future/int.concat
!bootstrap/latest.ssa
